.main-container {
    height: 100%;
}

.material-icons {
    font-size: 36px;
}

.text-secondary-color-scheme {
    color: white !important
}

.bg-primary-color-scheme {
    background-color: #265077;
}

#appTitle {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
}