#pageBody {
  height: 80vh;
  min-height: 600px;
}

#mainContainer{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}


.material-icons {
  font-size: 36px;
}

#appTitle {
  font-size: 32px;
}

#countdownClockContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

#countdownClock {
  height: 260px;
  width: 260px;
}

.circular {
  height: 100%;
  width: 100%;
  position: relative;
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 96%;
  width: 96%;
  margin: -48% 0 0 -48%;
  background: white;
  border-radius: 100%;
}

.circular .time {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 36px;
  font-weight: 500;
  color: black;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #eee;
  border-radius: 100%;
  clip: rect(0px, 260px, 260px, 130px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 130px, 260px, 0px);
  background: rgb(255, 179, 0);
  ;
}

.circle .left .progress {
  z-index: 1;
  transform: rotate(0deg);
}

.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}

.circle .right .progress {
  transform: rotate(0deg);
}

#startFlocus, #pauseFlocus, #stopFlocus, #resumeFlocus, #music, #timeSetting, #selectExistingTasks {
  display: none;
}

#controlButtons {
  width: 240px;
}

#minuteInput, #secondInput {
  display: inline;
  text-align: center; 
  width: 44px;
  padding: 0;
  font-size: 20px;
}